/* Nav Section /////////////////// */
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  align-items: flex-end;
  background-color: rgb(56, 56, 56);
  padding: 20px;
  color: white;
  box-shadow: 3px 3px lightgray;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.search {
  flex: 1;
}
.search input {
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  border: 0;
  outline: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.searchBtn {
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  outline: 0;
}
.website_name {
  padding: 0 20px;
}
.main_input {
  display: flex;
  grid-gap: 1rem;
}

.icon-1 {
  height: 60px;
  /* background-color: white; */
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgb(156, 156, 156);
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.icon-2 {
  padding: 0 20px;
  margin-left: 70%;
}
/* End of Nav Section /////////////////// */

@media (max-width: 650px) {
  /* Navbar ////////////////////////////// */
  .nav {
    flex-wrap: wrap;
    justify-items: space-around;
    justify-content: center;

    background-color: rgb(53, 53, 53);
  }
  .icon {
    order: 0 !important;
  }
  .website_name {
    order: 1 !important;
    justify-content: center;
    color: white;
  }
  .search {
    display: flex;
    flex: none;
    order: 2 !important;
    width: 100%;
  }
  .search input {
    border-radius: 0;
  }
  .main_input {
    display: contents;
  }
  .icon-1 {
    margin-left: -5rem;
  }
  .icon-2 {
    margin-left: 0;
  }
  /* End of Navbar /////////////////////////// */
}
