/* Motorcycle Videos Section ////////////////// */

.motorcycle_uploads {
  background: rgb(56, 56, 56);
  padding: 3em;
}
.motorcycle_uploads > h3 {
  display: flex;
  color: white;
  justify-content: center;
}

.recently_added_playlist_videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1em;
  padding: 1em;
}
/* End of Motorcyle Video Section ////////////////// */

/* Media Section  ////////////////////*/

@media (max-width: 650px) {
  /* Motorcyle Videos Section  ////////////////////////// */
  .motorcycle_uploads {
    padding: 1em;
  }
  .motorcycle_uploads h3 {
    color: white;
  }
  .recently_added_playlist_videos {
    grid-gap: 2em;
  }
  /* End of Motorcycle Videos Section ////////////////////////// */

  /* End of Media Section  ////////////////////*/
}
