/* Affects All //////////////////////////*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(34, 34, 34);
  margin: 0;
}
a {
  color: rgb(0, 140, 255);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 83, 151);
}
span {
  color: rgb(0, 140, 255);
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
}
button {
  background-color: rgb(0, 140, 255);
  color: white;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
button:hover {
  background-color: rgb(0, 83, 151);
}
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
iframe {
  width: 300px;
  height: 200px;
}
/* End of Affects All ////////////////////////// */

.App {
  /* text-align: center; */
}

/* All Navbar Container //////////////////*/
.all_Navbar_Container {
  position: sticky;
  top: 0;
}
/* End of All Navbar Container ///////////////// */
